# project output
dist
dist 2
*.zip

# system files
*~
.DS_Store

# node files
npm-debug.log
node_modules

# common IDE files
*.iml
*.ipr
*.iws
.idea
.project
*.sublime-workspace
nb-configuration.xml
nbactions.xml
nbproject/private
