<div class="responsive">
    <div>
        <div class="background">
            <div class="bg-image"><div class="has-shadow"></div></div>
            <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed fringilla dictum auctor.
                Phasellus tempor tellus ligula, eu aliquet felis pulvinar quis. Sed convallis ligula quis eros viverra
                vestibulum. Nulla pellentesque dolor nec nulla pharetra dapibus. Integer a venenatis nulla. Nullam ac
                nibh hendrerit, ornare nulla vitae, faucibus eros. Vivamus id orci et lorem blandit tristique.</h3>
        </div>
    </div>
    <div>
        <div class="background">
            <div class="bg-image"><div class="has-shadow"></div></div>
            <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed fringilla dictum auctor.
                Phasellus tempor tellus ligula, eu aliquet felis pulvinar quis. Sed convallis ligula quis eros viverra
                vestibulum. Nulla pellentesque dolor nec nulla pharetra dapibus. Integer a venenatis nulla. Nullam ac
                nibh hendrerit, ornare nulla vitae, faucibus eros. Vivamus id orci et lorem blandit tristique.</h3>
        </div>
    </div>
    <div>
        <div class="background">
            <div class="bg-image"><div class="has-shadow"></div></div>
            <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed fringilla dictum auctor.
                Phasellus tempor tellus ligula, eu aliquet felis pulvinar quis. Sed convallis ligula quis eros viverra
                vestibulum. Nulla pellentesque dolor nec nulla pharetra dapibus. Integer a venenatis nulla. Nullam ac
                nibh hendrerit, ornare nulla vitae, faucibus eros. Vivamus id orci et lorem blandit tristique.</h3>
        </div>
    </div>
    <div>
        <div class="background">
            <div class="bg-image"><div class="has-shadow"></div></div>
            <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed fringilla dictum auctor.
                Phasellus tempor tellus ligula, eu aliquet felis pulvinar quis. Sed convallis ligula quis eros viverra
                vestibulum. Nulla pellentesque dolor nec nulla pharetra dapibus. Integer a venenatis nulla. Nullam ac
                nibh hendrerit, ornare nulla vitae, faucibus eros. Vivamus id orci et lorem blandit tristique.</h3>
        </div>
    </div>
</div>